@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.hide-title {
    display: none;
}

body {
    width: 1600px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    height: 75px;
    background: #222222;
}

.header_buttons {
    display: flex;
    justify-content: space-between;
}

.left_buttons {
    display: flex;
    gap: 41px;
}

.left_btn {
    margin-top: 28px;
}

.logo_img {
    margin-top: 18px;
}

.right_buttons {
    display: flex;
    width: 159px;
    justify-content: space-between;
    padding-top: 26px;
    position: relative;
}

.circle {
    background: #f16d7f;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: 20px;
}

.circle p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

.menu-active {
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.hidden_menu {
    display: none;
}

.main__banner {
    background-color: #f1e4e6;
    height: 764px;
    position: relative;
}

.menu_list_right {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    width: 232px;
    height: 764px;
    z-index: 3;
}

.menu-close img {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 4;
    width: 15px;
}

.menu_h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 33px;
    padding-top: 32px;
}

.main_banner_content {
    display: flex;
    gap: 63px;
}

.main_banner_content_rightSide {
    height: 93px;
    padding-top: 290px;
    display: flex;
    gap: 16px;
}

.selector_line {
    border-left: 12px solid #f16d7f;
    height: 93px;
}

.main_banner_content_rightSide h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.main_banner_content_rightSide h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #222222;
}

.fashion {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #f16d7f;
}

button {
    background: #222222;
    border: none;
}

.main_content {
    background-color: #ffffff;
    height: 2086px;
}

.category_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-top: 65px;
}

.card_item1 {
    background-image: url(./img/card1.svg);
    height: 260px;
}

.card_item2 {
    background-image: url(./img/card2.svg);
    height: 260px;
}

.card_item3 {
    background-image: url(./img/card3.svg);
    height: 260px;
}

.card_item4 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./img/card4.svg);
    background-size: cover;
    height: 180px;
}

.card_text {
    background-color: rgba(33, 22, 22, 0.7);
    height: 260px;
}

.card_text4 {
    background: rgba(33, 22, 22, 0.7);
    height: 180px;
}

.card_text h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-top: 105px;
}

.card_text h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
}

.card_text4 h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-top: 65px;
}

.card_text4 h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
    margin-bottom: 96px;
}

.item_headers {
    text-align: center;
}

.item_headers h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.item_headers h5 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-bottom: 48px;
}

.item_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.item {
    height: 581px;
    background: #f8f8f8;
    width: 360px;
}

.item_back_btn_img {
    width: 26px;
    height: 24px;
}

.item .item_back_2 {
    background-image: url("./img/item2.png");
    width: 360px;
    height: 420px;
}

.item2 img {
    position: relative;
}

.item_back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 43px;
    background: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    border: 2px solid white;
    gap: 11px;
}

.item2_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item2:hover .item2_layer {
    display: flex;
}
/* ... */

.item .item_back_1 {
    background-image: url("./img/item1.png");
    width: 360px;
    height: 420px;
}

.item1 img {
    position: relative;
}

.item1_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item1:hover .item1_layer {
    display: flex;
}

/* ... */

.item .item_back_3 {
    background-image: url("./img/item3.png");
    width: 360px;
    height: 420px;
}

.item3 img {
    position: relative;
}

.item3_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item3:hover .item3_layer {
    display: flex;
}

.item .item_back_4 {
    background-image: url("./img/item4.png");
    width: 360px;
    height: 420px;
}

.item4 img {
    position: relative;
}

.item4_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item4:hover .item4_layer {
    display: flex;
}

.item .item_back_5 {
    background-image: url("./img/item5.png");
    width: 360px;
    height: 420px;
}

.item5 img {
    position: relative;
}

.item5_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item5:hover .item5_layer {
    display: flex;
}

.item .item_back_6 {
    background-image: url("./img/item6.png");
    width: 360px;
    height: 420px;
}

.item6 img {
    position: relative;
}

.item6_layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.item6:hover .item6_layer {
    display: flex;
}

.item h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 24px;
    padding-left: 18px;
}

.item p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding-top: 16px;
    padding-left: 16px;
    width: 325px;
}

.item h5 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding-top: 16px;
    padding-left: 18px;
}

.bottom_btn {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    padding-top: 14px;
    padding-top: 13px;
    text-align: center;
    border: 1px solid #ff6a6a;
    background: #ffffff;
    width: 211px;
    height: 47px;
    margin-top: 48px;
    margin-bottom: 60px;
    justify-content: center;
}

button {
    cursor: pointer;
}

.quality__block {
    height: 341px;
    background: #222224;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block {
    width: 360px;
}

.img_block_1 {
    width: 45px;
    padding-bottom: 28px;
}

.img_block_2 {
    width: 40px;
    padding-bottom: 19px;
}

.img_block_3 {
    width: 47px;
    padding-bottom: 25px;
}

.block h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #fbfbfb;
    padding-bottom: 16px;
}

.block p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
}

.bac {
    background: rgba(244, 244, 244, 0.7);
    width: auto;
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 223px;
    padding-bottom: 126px;
    padding-top: 97px;
}

.subscribe {
    height: 448px;
    background-image: url(./img/sub_back.jpg);
    background-size: contain;
}

.subscribe_left {
    width: 359px;
    height: 225px;
    padding-bottom: 126px;
}

.subscribe_left img {
    width: 96px;
    margin-bottom: 30px;
}

.subscribe_left p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
    width: 360px;
}

.italic_text {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_right {
    width: 557px;
    height: 142px;
    padding-bottom: 126px;
}

.subscribe_right h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe_right h5 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.email__input {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub_btn {
    background: #f16d7f;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    height: 49px;
    width: 100px;
    margin-bottom: 156px;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
}

.input_form {
    background: #e1e1e1;
    height: 49px;
    width: 256px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 0 20px;
}

footer {
    height: 79px;
    background-color: #222224;
    display: flex;
    gap: 655px;
}

.legacy {
    width: 322px;
    margin-left: 235px;
}

.legacy h6 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    margin-top: 30px;
}

.footer_logos {
    display: flex;
    gap: 7px;
    margin-top: 24px;
    margin-right: 230px;
}
.square {
    width: 32px;
    height: 32px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
}

.svg_1 {
    width: 9px;
}

.svg_2 {
    width: 15px;
}

.svg_3 {
    width: 12px;
}

.svg_4 {
    width: 16px;
}

.square:hover .footer_svg {
    fill: #e1e1e1;
}

.square:hover {
    background: #f16d7f;
}

@media (max-width: 768px) {
    .container {
        width: 735px;
    }

    body {
        width: 768px;
    }

    header {
        height: 74px;
    }

    .main__banner {
        height: 368px;
    }

    .main_banner_content {
        display: flex;
        gap: 39px;
    }

    .main_banner_content img {
        height: 368px;
    }

    .main_banner_content_rightSide {
        height: 78px;
        padding-top: 138px;
    }

    .main_banner_content_rightSide h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
    }

    .main_banner_content_rightSide h3 {
        font-size: 24px;
        line-height: 29px;
    }

    .fashion {
        font-size: 24px;
        line-height: 29px;
    }

    .main_content {
        background-color: #ffffff;
        height: 2534px;
    }

    .category_cards {
        gap: 19px;
        grid-template-rows: 1fr 116px;
        margin-bottom: 109px;
    }

    .card_item1 {
        background-size: cover;
        height: 167px;
    }

    .card_item2 {
        background-size: cover;
        height: 167px;
    }

    .card_item3 {
        background-size: cover;
        height: 167px;
    }

    .card_item4 {
        height: 116px;
    }

    .card_text {
        height: 167px;
    }

    .card_text4 {
        height: 116px;
    }

    .card_text h4 {
        padding-top: 59px;
    }

    .card_text4 h4 {
        padding-top: 33px;
    }

    .item_headers h5 {
        margin-bottom: 73px;
    }

    .item_cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
    }

    .item p {
        padding-top: 12px;
        width: 314px;
    }

    .item h5 {
        padding-top: 18px;
    }

    .btn {
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .quality__block {
        height: 610px;
        display: flex;
        gap: 49px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bac {
        height: 693px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .subscribe {
        height: 693px;
        background-size: contain;
        background-image: url(./img/sub_back_pl.jpg);
    }

    .subscribe_left {
        width: 359px;
        height: 225px;
    }

    .subscribe_right {
        width: 557px;
        height: 137px;
        padding-bottom: 0px;
    }

    footer {
        gap: 305px;
    }

    .sub_btn {
        margin-bottom: 0px;
    }

    .legacy {
        width: 251px;
        margin-left: 32px;
    }

    .footer_logos {
        margin-right: 32px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 343px;
    }

    body {
        width: 375px;
    }

    .hidden {
        display: none;
    }

    .right_buttons {
        justify-content: end;
    }

    .main__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 363px;
        width: 375px;
        gap: 15px;
    }

    .main_banner_content_rightSide {
        height: 56px;
        width: 263px;
        padding-top: 0px;
    }

    .main_banner_content_rightSide h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
    }

    .main_banner_content_rightSide h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .fashion {
        font-size: 20px;
        line-height: 24px;
    }

    .selector_line {
        height: 61px;
        margin-top: 5px;
    }

    .main_content {
        background-color: #ffffff;
        height: 4941px;
    }

    .category_cards {
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
    }

    .card_item1 {
        height: 247px;
        width: 344px;
    }

    .card_item2 {
        height: 247px;
        width: 344px;
    }

    .card_item3 {
        height: 247px;
        width: 344px;
    }

    .card_item4 {
        background-image: url(./img/card4.svg);
        background-size: cover;
        height: 111px;
        width: 344px;
    }

    .card_text {
        height: 247px;
    }

    .card_text4 {
        background: rgba(33, 22, 22, 0.7);
        height: 111px;
    }

    .card_text h4 {
        padding-top: 100px;
    }

    .card_text4 h4 {
        padding-top: 30px;
    }

    .card_text4 h3 {
        margin-bottom: 31px;
    }

    .item_headers h5 {
        margin-bottom: 65px;
    }

    .item_cards {
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 41px;
    }

    .quality__block {
        height: 610px;
        display: flex;
        gap: 46px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .block {
        width: 348px;
    }

    .img_block_1 {
        width: 43px;
        padding-bottom: 27px;
    }

    .img_block_2 {
        width: 38px;
        padding-bottom: 18px;
    }

    .img_block_3 {
        width: 45px;
        padding-bottom: 24px;
    }

    .bac {
        height: 550px;
        flex-direction: column;
        gap: 59px;
    }

    .subscribe {
        height: 550px;
        background-image: url(./img/sub_back_mb.jpg);
    }

    .subscribe_left {
        width: 343px;
        height: 194px;
        padding-bottom: 0px;
    }

    .subscribe_left img {
        width: 91px;
    }

    .subscribe_left p {
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #222224;
        height: 73px;
        width: 343px;
    }

    .italic_text {
        font-size: 18px;
        line-height: 21px;
    }

    .subscribe_right {
        width: 341px;
        height: 123px;
        padding-bottom: 0px;
    }

    .subscribe_right h5 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #222224;
        padding-bottom: 22px;
    }

    .sub_btn {
        height: 47px;
        width: 96px;
        margin-bottom: px;
    }

    .input_form {
        height: 46px;
    }

    footer {
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        text-align: center;
        gap: 40px;
    }

    .legacy {
        width: 251px;
        margin-left: 62px;
    }

    .footer_logos {
        display: flex;
        gap: 7px;
        margin-top: 40px;
        margin-left: 114px;
    }

    .legacy h6 {
        margin-top: 0px;
        margin-bottom: 9px;
    }
}
